
.columns-wrapper {
  box-sizing: border-box;
}
.columns-wrapper .columns {
  box-sizing: border-box;
}
.columns-wrapper .columns .columns-row {
  box-sizing: border-box;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-height: 500px;
}

.columns .columns-video-col {
  order: 0;
}

.columns video {
  display: block;
  width: 100%;
}


@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}




/* Responsive Styles */
@media (width < 1024px) {
  .columns-container .columns-wrapper {
    padding: 0 5%;
  }
  .columns-container .columns-wrapper .columns {
    display: block;
  }
  .columns-container .columns-wrapper .columns .columns-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
  }
  .columns-container .columns-wrapper .columns .columns-row h1, 
  .columns-container .columns-wrapper .columns .columns-row h2, 
  .columns-container .columns-wrapper .columns .columns-row h3, 
  .columns-container .columns-wrapper .columns .columns-row h4, 
  .columns-container .columns-wrapper .columns .columns-row h5, 
  .columns-container .columns-wrapper .columns .columns-row h6 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
}

@media (width < 768px) { 
  .columns-container .columns-wrapper {
    padding: 0 4%;
  }

}

/* ------------ Tommy Bahama Styles ------------ */
.tommy-bahama-theme .columns-row > div:first-of-type{
  order: 1;
}

.tommy-bahama-theme .columns-row > div:last-of-type{
  order: 0;
  text-align: center;
}

.tommy-bahama-theme .columns-row > div:last-of-type h2 {
  font-size: 40px !important;
}

.tommy-bahama-theme .columns-row > div:last-of-type p {
  margin: 10px 0;
  font-size: 16px;
}

.tommy-bahama-theme .columns-row > div:last-of-type p.button-container a {
  border: 1.5px solid #000;
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 1rem;
  font-size: 18px;
  max-width: 250px;
  text-overflow: unset;
  overflow: unset;
  text-wrap: wrap;
  text-align: center;
}

.tommy-bahama-theme .columns-row > div:last-of-type p.button-container a::after {
  display: none;
}

.tommy-bahama-theme .columns-row .columns-img-col img {
  max-height: unset;
}

@media (width > 1024px) {
  .tommy-bahama-theme .columns-row > div:first-of-type {
    width: 60%;
    flex: unset;
    order: 0;
  } 

  .tommy-bahama-theme .columns-row > div:last-of-type {
    width: 40%;
    flex: unset;
    order: 1;
    padding: 4em;
    text-align: start;
  } 

  .tommy-bahama-theme .columns-row > div:last-of-type p {
    font-size: 20px;
  }
}